--extra-index-url https://pypi.doubanio.com/simple

certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
idna==3.3; python_version >= "3.7" and python_version < "4"
networkx==2.8.4; python_version >= "3.8"
numpy==1.23.1; python_version >= "3.8"
ply==3.11
pyyaml==6.0; python_version >= "3.6"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
thrift==0.15.0
urllib3==1.26.10; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
